/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style below and css reset above */

body * {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: white;
    line-height: 150%;
    letter-spacing: 160%;
}

body { 
    background: url(./assets/background.jpg) top center; /*fica no topo e centralizado*/
    background-size: 100% auto; /*ocupa 100% horizontalmente e se ajusta automaticamente na altura*/
    background-repeat: no-repeat;
    background-color: #121214 ;
}

/* header/main - style */

header {
    padding-top: 32px;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 100%; /*100% em relação ao header div*/
}

header div {
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    width: 120px;
    margin: auto; /*alinhar no meio*/
    padding: 4px;
    display: flex;
    border-radius: 50%;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex; /*ou display: grid -- estudar depois grid, pq sou preguiçoso e fico procrastinando pra ver isso*/
    gap: 24px;
    flex-direction: column;
}

/* sections - style */

section {
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 8px;
}

section div {
    background-color: #2A2634;
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;
}

section h2 {
    letter-spacing: -0.5px;
}

section p {
    letter-spacing: -0.2px;
    color: #A1A1AA;
}

/* listas - style */

section ul {
    display: flex; /*altera o display dos elementos dentro da caixa*/
    gap: 16px; /*diferença/espaço entre os flex-items*/
    margin-top: 24px;
    flex-wrap: wrap;
}

section li {
    transition: transform 0.3s;
}

section li:hover {
    transform: scale(1.1);
}


.game-list img{
    width: 100px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 80px;
}
